
<link rel='stylesheet' href='~/css/upload/post-532.css' />
<div data-elementor-type="wp-post" data-elementor-id="532" class="elementor elementor-532">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-f2ed6fe elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="f2ed6fe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;clouds&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-bottom" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
                <path class="elementor-shape-fill" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a89a67f" data-id="a89a67f" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-854031b elementor-widget elementor-widget-heading" data-id="854031b" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.23.0 - 25-07-2024 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style>
                            <h2 class="elementor-heading-title elementor-size-default">Danh sách lớp học</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-913b477 elementor-widget elementor-widget-text-editor" data-id="913b477" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.23.0 - 25-07-2024 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }
                            </style>
                            <p><a href="#">Trang chủ</a> &gt; Danh sách lớp học</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-e002902 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e002902" data-element_type="section">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f95eb2f" data-id="f95eb2f" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-9fe9e50 elementor-widget elementor-widget-heading" data-id="9fe9e50" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">Danh sách lớp học của chúng tôi</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a29be18 elementor-widget elementor-widget-heading" data-id="a29be18" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Môi trường học tập hạnh phúc</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-9cf86d4 elementor-widget elementor-widget-text-editor" data-id="9cf86d4" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>&nbsp;Sunrise Academy tiếp cận hướng đi mới trong việc phát hiện sớm, chăm sóc trẻ chậm phát triển trí tuệ, trẻ tự kỷ, trẻ bại não ..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-aa8db75 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="aa8db75" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e3cac5a" data-id="e3cac5a" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6b14644 elementor-widget elementor-widget-image" data-id="6b14644" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img fetchpriority="high" decoding="async" width="1920" height="1280" src="~/images/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc.jpg" class="attachment-full size-full wp-image-320" alt=""
                            sizes="(max-width: 1920px) 100vw, 1920px">
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-0911cf0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0911cf0" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-1990eaf" data-id="1990eaf" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-38c2c65 elementor-widget elementor-widget-heading" data-id="38c2c65" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Can thiệp cá nhân 1-1</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fd467fb elementor-icon-list--layout-inline elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="fd467fb" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://tykit.rometheme.pro/terra/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">7:00am - 17.00pm</span>
                                                </li>
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-calendar-alt"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Thứ 2 - Thứ 6</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2b9239d elementor-widget elementor-widget-text-editor" data-id="2b9239d" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Chương trình cung cấp hỗ trợ chuyên biệt, tùy chỉnh theo nhu cầu của từng trẻ, giúp phát triển kỹ năng học tập, xã hội và tự lập, đảm bảo sự tiến bộ tối đa trong môi trường an toàn và hỗ trợ..</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-ef0e4a7 elementor-align-center elementor-widget elementor-widget-button" data-id="ef0e4a7" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">chi tiết</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1bbe6bb" data-id="1bbe6bb" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-692aaf3 elementor-widget elementor-widget-image" data-id="692aaf3" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="1920" height="1280" src="~/images/kid-playing-with-wood-blocks-and-teacher-educador-2021-09-02-10-31-18-utc.jpg" 
                            class="attachment-full size-full wp-image-321" alt="" 
                            sizes="(max-width: 1920px) 100vw, 1920px">
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-a52613a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a52613a" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-acceecc" data-id="acceecc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-28b5124 elementor-widget elementor-widget-heading" data-id="28b5124" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Kỹ năng toàn diện</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a7502c4 elementor-icon-list--layout-inline elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a7502c4" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">7:00am - 17.00pm</span>
                                                </li>
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-calendar-alt"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Thứ 2 - Thứ 6</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d40732b elementor-widget elementor-widget-text-editor" data-id="d40732b" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Chương trình giúp trẻ phát triển khả năng giao tiếp, tương tác và hòa nhập cộng đồng, thông qua các hoạt động thực hành, trò chơi nhóm và hỗ trợ tâm lý, tạo nền tảng vững chắc cho cuộc sống hàng ngày.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-c2ff816 elementor-align-center elementor-widget elementor-widget-button" data-id="c2ff816" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">chi tiết</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f03043c" data-id="f03043c" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-fc77f39 elementor-widget elementor-widget-image" data-id="fc77f39" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="1920" height="1280" src="~/images/smiling-educator-looking-at-boy-drawing-in-kinderg-2022-11-02-02-22-09-utc.jpg" class="attachment-full size-full wp-image-322" alt=""
                            sizes="(max-width: 1920px) 100vw, 1920px">
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-09b7c80 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="09b7c80" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4367736" data-id="4367736" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-9b3b3ba elementor-widget elementor-widget-heading" data-id="9b3b3ba" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Lớp học bán trú</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1bcda58 elementor-icon-list--layout-inline elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1bcda58" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">7:00am - 17.00pm</span>
                                                </li>
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-calendar-alt"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Thứ 2 - Thứ 6</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a775984 elementor-widget elementor-widget-text-editor" data-id="a775984" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Chương trình Học bán trú cho trẻ đặc biệt cung cấp bữa trưa dinh dưỡng, an toàn, phù hợp với nhu cầu của từng trẻ, giúp đảm bảo sức khỏe và hỗ trợ học tập hiệu quả, đồng thời phát triển kỹ năng tự phục vụ trong môi trường hỗ trợ.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-f40e789 elementor-align-center elementor-widget elementor-widget-button" data-id="f40e789" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">chi tiết</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-07a12ff elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="07a12ff" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-002be09" data-id="002be09" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-09feac1 elementor-widget elementor-widget-image" data-id="09feac1" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="1920" height="1280" src="~/images/cropped-image-of-educator-teaching-african-america-2022-11-02-00-16-22-utc.jpg" class="attachment-full size-full wp-image-332" alt="" 
                            sizes="(max-width: 1920px) 100vw, 1920px">
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-b0ec757 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b0ec757" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a21fe43" data-id="a21fe43" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8ad27d3 elementor-widget elementor-widget-heading" data-id="8ad27d3" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Can thiệp trẻ chậm nói</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-73f656b elementor-icon-list--layout-inline elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="73f656b" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">7:00am - 17.00pm</span>
                                                </li>
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-calendar-alt"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Thứ 2 - Thứ 6</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-62e1a13 elementor-widget elementor-widget-text-editor" data-id="62e1a13" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Giúp trẻ phát triển khả năng ngôn ngữ, mở rộng vốn từ, đưa ra cách tiếp cận hiệu quả để cha mẹ có thể hỗ trợ quá trình phát triển ngôn ngữ của trẻ.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-39df625 elementor-align-center elementor-widget elementor-widget-button" data-id="39df625" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">Chi tiết</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-58c5d40" data-id="58c5d40" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-3ca7a8b elementor-widget elementor-widget-image" data-id="3ca7a8b" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="1920" height="1280" src="~/images/educator-reading-book-for-multicultural-kids-in-ki-2022-11-02-01-40-16-utc.jpg" class="attachment-full size-full wp-image-335" alt="" 
                            sizes="(max-width: 1920px) 100vw, 1920px">
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-bd854fb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bd854fb" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-d2160ca" data-id="d2160ca" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-d27c657 elementor-widget elementor-widget-heading" data-id="d27c657" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Can thiệp trẻ tự kỷ</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7b9d28f elementor-icon-list--layout-inline elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7b9d28f" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">7:00am - 17.00pm</span>
                                                </li>
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-calendar-alt"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Thứ 2 - Thứ 6</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8083745 elementor-widget elementor-widget-text-editor" data-id="8083745" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Ngoài các phương pháp can thiệp phổ biến hiện nay, NHC Giáo dục Chuyên biệt phối kết hợp tâm lý, Montessori và Điều khí dương tâm giúp nâng cao hiệu quả.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-75c9a11 elementor-align-center elementor-widget elementor-widget-button" data-id="75c9a11" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">Chi tiết</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-656b0b2" data-id="656b0b2" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-44ff7aa elementor-widget elementor-widget-image" data-id="44ff7aa" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="1920" height="1280" src="~/images/educator-teaching-adorable-multicultural-children-2022-11-02-03-52-15-utc.jpg" class="attachment-full size-full wp-image-329" alt="" 
                            sizes="(max-width: 1920px) 100vw, 1920px">
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-593d66f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="593d66f" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4f8a0aa" data-id="4f8a0aa" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-541cbe8 elementor-widget elementor-widget-heading" data-id="541cbe8" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Trẻ tăng động giảm chú ý</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-36fa105 elementor-icon-list--layout-inline elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="36fa105" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-clock"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">7:00am - 17.00pm</span>
                                                </li>
                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-calendar-alt"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Thứ 2 - Thứ 6</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-86c285c elementor-widget elementor-widget-text-editor" data-id="86c285c" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Trẻ được can thiệp một cách toàn diện với sự kết hợp của phương pháp Tâm lý trị liệu & Giáo dục Đặc biệt, cùng Đội ngũ chuyên gia trong lĩnh vực can thiệp trẻ tăng động giảm chú ý.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-35c4850 elementor-align-center elementor-widget elementor-widget-button" data-id="35c4850" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">Chi tiết</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-8561bd0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8561bd0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;clouds&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-top" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
                <path class="elementor-shape-fill" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-759f4e2" data-id="759f4e2" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                    <div class="elementor-element elementor-element-59a9075 elementor-widget elementor-widget-heading" data-id="59a9075" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">Cách đăng ký học cho bé</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-c353a9d elementor-widget elementor-widget-heading" data-id="c353a9d" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Làm thế nào để ghi danh cho con vào lớp học của trung tâm?</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-87b65c3 elementor-widget elementor-widget-text-editor" data-id="87b65c3" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Quý phụ huynh thực hiện các bước sau để tiến hành đăng ký nhận tư vấn và cùng trung tâm thiết kế giáo trình học cho trẻ.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-1b34f8b elementor-widget elementor-widget-elementskit-testimonial e-widget-swiper" data-id="1b34f8b" data-element_type="widget" data-widget_type="elementskit-testimonial.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="elementskit-testimonial-slider ekit-testimonia-style-4 arrow_inside " data-config="{&quot;rtl&quot;:false,&quot;arrows&quot;:false,&quot;dots&quot;:false,&quot;pauseOnHover&quot;:true,&quot;autoplay&quot;:true,&quot;speed&quot;:1000,&quot;slidesPerGroup&quot;:1,&quot;slidesPerView&quot;:3,&quot;loop&quot;:false,&quot;spaceBetween&quot;:15,&quot;breakpoints&quot;:{&quot;320&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;768&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;1024&quot;:{&quot;slidesPerView&quot;:3,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:15}}}">
                                    <div class="ekit-main-swiper swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                                        <div class="swiper-wrapper" id="swiper-wrapper-86d3624aea148621" aria-live="off" style="transform: translate3d(-145.333px, 0px, 0px); transition-duration: 0ms;">
                                            <div class="swiper-slide" style="width: 57.6667px; margin-right: 15px;" role="group" aria-label="1 / 5">
                                                <div class="swiper-slide-inner">
                                                    <div class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style  elementor-repeater-item-07d3289">
                                                        <div class="elementskit-commentor-bio ">
                                                            <div class="elementskit-commentor-image ekit-testimonial--avatar">
                                                                <img loading="lazy" decoding="async" width="800" height="800" src="~/images/team7.jpg" class="attachment-full size-full" alt="" 
                                                                sizes="(max-width: 800px) 100vw, 800px">
                                                            </div>
                                                            <span class="elementskit-profile-info">
                                                                <strong class="elementskit-author-name">Bước 1</strong>
                                                                <span class="elementskit-author-des"></span>
                                                            </span>
                                                        </div>
                                                        <div class="elementskit-commentor-content">
                                                            <h5>Hoàn thành phiếu thông tin</h5>
                                                          
                                                        </div>
                                                        <!-- .commentor-content END -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-prev" style="width: 57.6667px; margin-right: 15px;" role="group" aria-label="2 / 5">
                                                <div class="swiper-slide-inner">
                                                    <div class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style  elementor-repeater-item-9b57766">
                                                        <div class="elementskit-commentor-bio ">
                                                            <div class="elementskit-commentor-image ekit-testimonial--avatar">
                                                                <img loading="lazy" decoding="async" width="800" height="800" src="~/images/team4.jpg" class="attachment-full size-full" alt="" 
                                                                sizes="(max-width: 800px) 100vw, 800px">
                                                            </div>
                                                            <span class="elementskit-profile-info">
                                                                <strong class="elementskit-author-name">Bước 2</strong>
                                                                <span class="elementskit-author-des"></span>
                                                            </span>
                                                        </div>
                                                        <div class="elementskit-commentor-content">
                                                            <h5>Sắp xếp lịch tư vấn cùng chuyên gia</h5>
                                                            
                                                        </div>
                                                        <!-- .commentor-content END -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-active" style="width: 57.6667px; margin-right: 15px;" role="group" aria-label="3 / 5">
                                                <div class="swiper-slide-inner">
                                                    <div class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style  elementor-repeater-item-ae94ae5">
                                                        <div class="elementskit-commentor-bio ">
                                                            <div class="elementskit-commentor-image ekit-testimonial--avatar">
                                                                <img loading="lazy" decoding="async" width="800" height="800" src="~/images/team1.jpg" class="attachment-full size-full" alt="" 
                                                                sizes="(max-width: 800px) 100vw, 800px">
                                                            </div>
                                                            <span class="elementskit-profile-info">
                                                                <strong class="elementskit-author-name">Bước 3</strong>
                                                                <span class="elementskit-author-des"></span>
                                                            </span>
                                                        </div>
                                                        <div class="elementskit-commentor-content">
                                                            <h5>Xét duyệt hồ sơ và Thiết kế I.E.P cho bé</h5>
                                                            
                                                        </div>
                                                        <!-- .commentor-content END -->
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-4f00324 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4f00324" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5b917a9" data-id="5b917a9" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-b23aa34 elementor-widget elementor-widget-heading" data-id="b23aa34" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">pricing plan</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3a59a1a elementor-widget elementor-widget-heading" data-id="3a59a1a" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Early development is fundamental to the growth of your child</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ea3deac elementor-widget elementor-widget-text-editor" data-id="ea3deac" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Morbi fringilla enim eget aliquam congue. Sed nec magna ut sem viverra sagittis. Proin vel erat condimentum, blandit neque id, venenatis arcu. Vivamus a posuere nisi. Fusce turpis eros, faucibus ac nisi id.</p>
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-f8e5645 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f8e5645" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d978f19" data-id="d978f19" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-c97ea5d elementor-widget elementor-widget-heading" data-id="c97ea5d" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">child care</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d7c8c38 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="d7c8c38" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">$250</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2602c27 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="2602c27" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">/month</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4a3d917 elementor-widget elementor-widget-heading" data-id="4a3d917" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">good for parents who working</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1bd956e elementor-widget elementor-widget-text-editor" data-id="1bd956e" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.</p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-ddebc51 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="ddebc51" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Fusce vitae justo et libero</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Morbi fringilla enim eget aliquam</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Quisque diam libero, pellentesque</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-092b279 elementor-widget elementor-widget-button" data-id="092b279" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">choose plan</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c2f5a82" data-id="c2f5a82" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-0a33f38 elementor-widget elementor-widget-heading" data-id="0a33f38" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">kindergarten 1</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-40864b1 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="40864b1" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">$350</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b9a7cfe elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="b9a7cfe" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">/month</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-55f1755 elementor-widget elementor-widget-heading" data-id="55f1755" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">good for child 3-4 years old</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5df79d6 elementor-widget elementor-widget-text-editor" data-id="5df79d6" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.</p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6de908c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="6de908c" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Fusce vitae justo et libero</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Morbi fringilla enim eget aliquam</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Quisque diam libero, pellentesque</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7538368 elementor-widget elementor-widget-button" data-id="7538368" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">choose plan</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0b0fa62" data-id="0b0fa62" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-c839d96 elementor-widget elementor-widget-heading" data-id="c839d96" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">kindergarten 2</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-153fffa elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="153fffa" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">$450</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-034eb1b elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="034eb1b" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">/month</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-dd83c19 elementor-widget elementor-widget-heading" data-id="dd83c19" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">good for child 5-6 years old</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8b79c4a elementor-widget elementor-widget-text-editor" data-id="8b79c4a" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.</p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-f223914 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="f223914" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Fusce vitae justo et libero</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Morbi fringilla enim eget aliquam</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-check"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Quisque diam libero, pellentesque</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c522e37 elementor-widget elementor-widget-button" data-id="c522e37" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">choose plan</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>