.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input {
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-file-upload-label {
    padding: 15px 30px 15px 30px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total {
    padding: 15px 30px 15px 30px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_select__control, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__control .mf_multiselect__value-container, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__option, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__menu-notice--no-options {
    padding: 15px 30px 15px 30px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .range-slider {
    padding: 15px 30px 15px 30px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input, .elementor-631 .elementor-element.elementor-element-ae0a4de .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-bar, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-from, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-to, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-single {
    background-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-handle {
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-from:before, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-to:before, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-single:before {
    border-top-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_select__single-value {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__slider {
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__track--active, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__label-container, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__label-container:before {
    background-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: var( --e-global-color-text );
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-text );
    fill: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value__label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value__remove,.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__menu-notice--no-options {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total,.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value__label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value__remove,.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__option,.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__menu-notice--no-options,.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-multiselect .mf_multiselect__control {
    background-color: var( --e-global-color-secondary );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-select > .mf_select__control, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-multiselect .mf_multiselect__control, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__option {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-0abe554 );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:hover, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-handle:hover {
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-file-upload-label:hover {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:hover .mf_select__single-value {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-text );
    fill: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__slider:hover {
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,.elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__menu-notice--no-options:hover {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:focus, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-handle:focus {
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container:focus .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container:focus .mf-image-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total:focus {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input > .mf_select__control--is-focused .mf_select__single-value {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-text );
    fill: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__slider:focus {
    border-color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total:focus, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__option:focus, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__menu-notice--no-options:focus {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-single, .elementor-631 .elementor-element.elementor-element-ae0a4de .asRange .asRange-pointer .asRange-tip, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__label-container {
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total {
    border-radius: 15px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-select > .mf_select__control, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-multiselect .mf_multiselect__control, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__option, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value__label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__multi-value__remove, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf_multiselect__menu-notice--no-options {
    border-radius: 15px;
}

.elementor-631 .elementor-element.elementor-element-ae0a4de :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text), .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input::placeholder, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-time-input::before {
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-time-input::before {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input::-webkit-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input::-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:-ms-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input:-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: var( --e-global-color-text );
}

.elementor-631 .elementor-element.elementor-element-ae0a4de .mf-error-message {
    color: #FF0000;
}

.elementor-631 .elementor-element.elementor-element-5b99311 .mf-btn-wraper {
    text-align: left;
}

.elementor-631 .elementor-element.elementor-element-5b99311 .metform-btn {
    padding: 15px 30px 15px 30px;
    font-family: var( --e-global-typography-56eb66b-font-family ), Sans-serif;
    font-size: var( --e-global-typography-56eb66b-font-size );
    font-weight: var( --e-global-typography-56eb66b-font-weight );
    text-transform: var( --e-global-typography-56eb66b-text-transform );
    line-height: var( --e-global-typography-56eb66b-line-height );
    letter-spacing: var( --e-global-typography-56eb66b-letter-spacing );
    word-spacing: var( --e-global-typography-56eb66b-word-spacing );
    color: var( --e-global-color-secondary );
    background-color: var( --e-global-color-accent );
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-631 .elementor-element.elementor-element-5b99311 .metform-btn:hover {
    color: var( --e-global-color-secondary );
    background-color: var( --e-global-color-a246f46 );
}

.elementor-631 .elementor-element.elementor-element-5b99311 .mf-btn-wraper i {
    color: #FFFFFF;
}

.elementor-631 .elementor-element.elementor-element-5b99311 .metform-btn > i {
    padding-right: 5px;
}

@media(max-width: 1024px) {
    .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-single, .elementor-631 .elementor-element.elementor-element-ae0a4de .asRange .asRange-pointer .asRange-tip, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__label-container {
        font-size:var( --e-global-typography-text-font-size );
    }

    .elementor-631 .elementor-element.elementor-element-ae0a4de :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text), .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input::placeholder, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-time-input::before {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-631 .elementor-element.elementor-element-5b99311 .metform-btn {
        font-size: var( --e-global-typography-56eb66b-font-size );
        line-height: var( --e-global-typography-56eb66b-line-height );
        letter-spacing: var( --e-global-typography-56eb66b-letter-spacing );
        word-spacing: var( --e-global-typography-56eb66b-word-spacing );
    }
}

@media(max-width: 767px) {
    .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input, .elementor-631 .elementor-element.elementor-element-ae0a4de .irs--round .irs-single, .elementor-631 .elementor-element.elementor-element-ae0a4de .asRange .asRange-pointer .asRange-tip, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-file-upload-container .mf-input-file-upload-label, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-calculation-total, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input-wrapper .input-range__label-container {
        font-size:var( --e-global-typography-text-font-size );
    }

    .elementor-631 .elementor-element.elementor-element-ae0a4de :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text), .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-input::placeholder, .elementor-631 .elementor-element.elementor-element-ae0a4de .mf-time-input::before {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-631 .elementor-element.elementor-element-5b99311 .metform-btn {
        font-size: var( --e-global-typography-56eb66b-font-size );
        line-height: var( --e-global-typography-56eb66b-line-height );
        letter-spacing: var( --e-global-typography-56eb66b-letter-spacing );
        word-spacing: var( --e-global-typography-56eb66b-word-spacing );
    }
}
