<link rel='stylesheet' href='~/css/upload/post-576.css' />
<div data-elementor-type="wp-post" data-elementor-id="576" class="elementor elementor-576">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-0a79d2a elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="0a79d2a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;clouds&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-bottom" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
                <path class="elementor-shape-fill" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-319510d" data-id="319510d" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-3e98a40 elementor-widget elementor-widget-heading" data-id="3e98a40" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.23.0 - 05-08-2024 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }</style><h2 class="elementor-heading-title elementor-size-default">FAQ's</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-26f9765 elementor-widget elementor-widget-text-editor" data-id="26f9765" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.23.0 - 05-08-2024 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }</style>				<p><a href="#">Home</a> &gt; FAQ’s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-6d49957 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6d49957" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fdacf28" data-id="fdacf28" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6d380a3 elementor-widget elementor-widget-heading" data-id="6d380a3" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">general question</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5f7df11 elementor-widget elementor-widget-elementskit-accordion" data-id="5f7df11" data-element_type="widget" data-widget_type="elementskit-accordion.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="elementskit-accordion accoedion-primary" id="accordion-66b1e131109a7">


                                    <div class="elementskit-card active">
                                        <div class="elementskit-card-header" id="primaryHeading-0-5f7df11">
                                            <a href="#collapse-10ca6ef66b1e131109a7" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-10ca6ef66b1e131109a7" aria-expanded="true" aria-controls="Collapse-10ca6ef66b1e131109a7">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                        <i aria-hidden="true" class="icon-open icon-left fas fa-plus"></i>
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                        <i aria-hidden="true" class="icon-closed icon-left fas fa-minus"></i>
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">What type of curriculum do you use?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-10ca6ef66b1e131109a7" class=" show collapse" aria-labelledby="primaryHeading-0-5f7df11" data-parent="#accordion-66b1e131109a7">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non facilisis est. Mauris hendrerit ac ex at cursus. Cras dignissim iaculis tortor ac varius. Donec sed ipsum elit. Curabitur non pharetra arcu. Duis luctus scelerisque purus vel lacinia. Fusce pulvinar accumsan libero quis convallis. Nunc non placerat massa, at fringilla tellus.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->


                                    <div class="elementskit-card ">
                                        <div class="elementskit-card-header" id="primaryHeading-1-5f7df11">
                                            <a href="#collapse-28686ac66b1e131109a7" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-28686ac66b1e131109a7" aria-expanded="false" aria-controls="Collapse-28686ac66b1e131109a7">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                        <i aria-hidden="true" class="icon-open icon-left fas fa-plus"></i>
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                        <i aria-hidden="true" class="icon-closed icon-left fas fa-minus"></i>
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">Is there a time for sleep or rest?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-28686ac66b1e131109a7" class=" collapse" aria-labelledby="primaryHeading-1-5f7df11" data-parent="#accordion-66b1e131109a7">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Fusce vitae justo et libero elementum elementum vel vitae risus. Nam malesuada nulla nisi, ut faucibus magna congue nec. Ut libero tortor, tempus at auctor in, molestie at nisi. In enim ligula, consequat eu feugiat a, efficitur eget nunc. Integer vestibulum arcu quis nisl euismod, luctus tristique orci lacinia.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->


                                    <div class="elementskit-card ">
                                        <div class="elementskit-card-header" id="primaryHeading-2-5f7df11">
                                            <a href="#collapse-c36f45f66b1e131109a7" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-c36f45f66b1e131109a7" aria-expanded="false" aria-controls="Collapse-c36f45f66b1e131109a7">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                        <i aria-hidden="true" class="icon-open icon-left fas fa-plus"></i>
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                        <i aria-hidden="true" class="icon-closed icon-left fas fa-minus"></i>
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">Is outdoor play monitored?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-c36f45f66b1e131109a7" class=" collapse" aria-labelledby="primaryHeading-2-5f7df11" data-parent="#accordion-66b1e131109a7">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Morbi fringilla enim eget aliquam congue. Sed nec magna ut sem viverra sagittis. Proin vel erat condimentum, blandit neque id, venenatis arcu. Vivamus a posuere nisi. Fusce turpis eros, faucibus ac nisi id, venenatis eleifend nisl. Sed in dolor ex.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->


                                    <div class="elementskit-card ">
                                        <div class="elementskit-card-header" id="primaryHeading-3-5f7df11">
                                            <a href="#collapse-2ea7df866b1e131109a7" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-2ea7df866b1e131109a7" aria-expanded="false" aria-controls="Collapse-2ea7df866b1e131109a7">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                        <i aria-hidden="true" class="icon-open icon-left fas fa-plus"></i>
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                        <i aria-hidden="true" class="icon-closed icon-left fas fa-minus"></i>
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">What are the qualifications of the staff?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-2ea7df866b1e131109a7" class=" collapse" aria-labelledby="primaryHeading-3-5f7df11" data-parent="#accordion-66b1e131109a7">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Vivamus diam urna, pulvinar id viverra a, sollicitudin sit amet turpis. Aliquam quis ultricies odio. Nullam venenatis lacus nec elit congue, ut pretium felis tincidunt. Nam sodales sollicitudin lobortis. Nunc ut sem at tellus condimentum consectetur nec ac nisi.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-9756ea4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="9756ea4" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.23.0 - 05-08-2024 */
                                .elementor-widget-divider {
                                    --divider-border-style: none;
                                    --divider-border-width: 1px;
                                    --divider-color: #0c0d0e;
                                    --divider-icon-size: 20px;
                                    --divider-element-spacing: 10px;
                                    --divider-pattern-height: 24px;
                                    --divider-pattern-size: 20px;
                                    --divider-pattern-url: none;
                                    --divider-pattern-repeat: repeat-x
                                }

                                    .elementor-widget-divider .elementor-divider {
                                        display: flex
                                    }

                                    .elementor-widget-divider .elementor-divider__text {
                                        font-size: 15px;
                                        line-height: 1;
                                        max-width: 95%
                                    }

                                    .elementor-widget-divider .elementor-divider__element {
                                        margin: 0 var(--divider-element-spacing);
                                        flex-shrink: 0
                                    }

                                    .elementor-widget-divider .elementor-icon {
                                        font-size: var(--divider-icon-size)
                                    }

                                    .elementor-widget-divider .elementor-divider-separator {
                                        display: flex;
                                        margin: 0;
                                        direction: ltr
                                    }

                                .elementor-widget-divider--view-line_icon .elementor-divider-separator, .elementor-widget-divider--view-line_text .elementor-divider-separator {
                                    align-items: center
                                }

                                    .elementor-widget-divider--view-line_icon .elementor-divider-separator:after, .elementor-widget-divider--view-line_icon .elementor-divider-separator:before, .elementor-widget-divider--view-line_text .elementor-divider-separator:after, .elementor-widget-divider--view-line_text .elementor-divider-separator:before {
                                        display: block;
                                        content: "";
                                        border-block-end: 0;
                                        flex-grow: 1;
                                        border-block-start: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
                                    }

                                .elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator > .elementor-divider__svg:first-of-type {
                                    flex-grow: 0;
                                    flex-shrink: 100
                                }

                                .elementor-widget-divider--element-align-left .elementor-divider-separator:before {
                                    content: none
                                }

                                .elementor-widget-divider--element-align-left .elementor-divider__element {
                                    margin-left: 0
                                }

                                .elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator > .elementor-divider__svg:last-of-type {
                                    flex-grow: 0;
                                    flex-shrink: 100
                                }

                                .elementor-widget-divider--element-align-right .elementor-divider-separator:after {
                                    content: none
                                }

                                .elementor-widget-divider--element-align-right .elementor-divider__element {
                                    margin-right: 0
                                }

                                .elementor-widget-divider--element-align-start .elementor-divider .elementor-divider-separator > .elementor-divider__svg:first-of-type {
                                    flex-grow: 0;
                                    flex-shrink: 100
                                }

                                .elementor-widget-divider--element-align-start .elementor-divider-separator:before {
                                    content: none
                                }

                                .elementor-widget-divider--element-align-start .elementor-divider__element {
                                    margin-inline-start: 0
                                }

                                .elementor-widget-divider--element-align-end .elementor-divider .elementor-divider-separator > .elementor-divider__svg:last-of-type {
                                    flex-grow: 0;
                                    flex-shrink: 100
                                }

                                .elementor-widget-divider--element-align-end .elementor-divider-separator:after {
                                    content: none
                                }

                                .elementor-widget-divider--element-align-end .elementor-divider__element {
                                    margin-inline-end: 0
                                }

                                .elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
                                    border-block-start: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
                                }

                                .elementor-widget-divider--separator-type-pattern {
                                    --divider-border-style: none
                                }

                                    .elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator, .elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after, .elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before, .elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator {
                                        width: 100%;
                                        min-height: var(--divider-pattern-height);
                                        -webkit-mask-size: var(--divider-pattern-size) 100%;
                                        mask-size: var(--divider-pattern-size) 100%;
                                        -webkit-mask-repeat: var(--divider-pattern-repeat);
                                        mask-repeat: var(--divider-pattern-repeat);
                                        background-color: var(--divider-color);
                                        -webkit-mask-image: var(--divider-pattern-url);
                                        mask-image: var(--divider-pattern-url)
                                    }

                                .elementor-widget-divider--no-spacing {
                                    --divider-pattern-size: auto
                                }

                                .elementor-widget-divider--bg-round {
                                    --divider-pattern-repeat: round
                                }

                                .rtl .elementor-widget-divider .elementor-divider__text {
                                    direction: rtl
                                }

                                .e-con-inner > .elementor-widget-divider, .e-con > .elementor-widget-divider {
                                    width: var(--container-widget-width,100%);
                                    --flex-grow: var(--container-widget-flex-grow)
                                }</style>		<div class="elementor-divider">
                                <span class="elementor-divider-separator">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-6f0a12b elementor-widget elementor-widget-heading" data-id="6f0a12b" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">Admission &amp; Fees</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d73121a elementor-widget elementor-widget-elementskit-accordion" data-id="d73121a" data-element_type="widget" data-widget_type="elementskit-accordion.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="elementskit-accordion accoedion-primary" id="accordion-66b1e13111d39">


                                    <div class="elementskit-card ">
                                        <div class="elementskit-card-header" id="primaryHeading-0-d73121a">
                                            <a href="#collapse-10ca6ef66b1e13111d39" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-10ca6ef66b1e13111d39" aria-expanded="false" aria-controls="Collapse-10ca6ef66b1e13111d39">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">1. How are tuition and fees calculated?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-10ca6ef66b1e13111d39" class=" collapse" aria-labelledby="primaryHeading-0-d73121a" data-parent="#accordion-66b1e13111d39">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non facilisis est. Mauris hendrerit ac ex at cursus. Cras dignissim iaculis tortor ac varius. Donec sed ipsum elit. Curabitur non pharetra arcu. Duis luctus scelerisque purus vel lacinia. Fusce pulvinar accumsan libero quis convallis. Nunc non placerat massa, at fringilla tellus.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->


                                    <div class="elementskit-card ">
                                        <div class="elementskit-card-header" id="primaryHeading-1-d73121a">
                                            <a href="#collapse-28686ac66b1e13111d39" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-28686ac66b1e13111d39" aria-expanded="false" aria-controls="Collapse-28686ac66b1e13111d39">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">2. What is the procedure for admission?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-28686ac66b1e13111d39" class=" collapse" aria-labelledby="primaryHeading-1-d73121a" data-parent="#accordion-66b1e13111d39">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Fusce vitae justo et libero elementum elementum vel vitae risus. Nam malesuada nulla nisi, ut faucibus magna congue nec. Ut libero tortor, tempus at auctor in, molestie at nisi. In enim ligula, consequat eu feugiat a, efficitur eget nunc. Integer vestibulum arcu quis nisl euismod, luctus tristique orci lacinia.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->


                                    <div class="elementskit-card ">
                                        <div class="elementskit-card-header" id="primaryHeading-2-d73121a">
                                            <a href="#collapse-c36f45f66b1e13111d39" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-c36f45f66b1e13111d39" aria-expanded="false" aria-controls="Collapse-c36f45f66b1e13111d39">
                                                <div class="ekit_accordion_icon_left_group">

                                                    <div class="ekit_accordion_normal_icon">
                                                        <!-- Normal Icon -->
                                                    </div>

                                                    <div class="ekit_accordion_active_icon">
                                                        <!-- Active Icon -->
                                                    </div>

                                                </div>


                                                <span class="ekit-accordion-title">3. What is the purpose of the activity fee?</span>


                                            </a>
                                        </div>

                                        <div id="Collapse-c36f45f66b1e13111d39" class=" collapse" aria-labelledby="primaryHeading-2-d73121a" data-parent="#accordion-66b1e13111d39">

                                            <div class="elementskit-card-body ekit-accordion--content">
                                                <p>Morbi fringilla enim eget aliquam congue. Sed nec magna ut sem viverra sagittis. Proin vel erat condimentum, blandit neque id, venenatis arcu. Vivamus a posuere nisi. Fusce turpis eros, faucibus ac nisi id, venenatis eleifend nisl. Sed in dolor ex.</p>
                                            </div>

                                        </div>

                                    </div><!-- .elementskit-card END -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-17e3863" data-id="17e3863" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-f6bb555 elementor-widget elementor-widget-heading" data-id="f6bb555" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">want to know more ?</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-f69e711 elementor-widget elementor-widget-text-editor" data-id="f69e711" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ebbc60b elementor-widget elementor-widget-metform" data-id="ebbc60b" data-element_type="widget" data-widget_type="metform.default">
                        <div class="elementor-widget-container">
                            <div id="mf-response-props-id-302" data-previous-steps-style="" data-editswitchopen="" data-response_type="alert" data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check" data-messageposition="top" class="   mf-scroll-top-no">
                                <div class="formpicker_warper formpicker_warper_editable" data-metform-formpicker-key="302">

                                    <div class="elementor-widget-container">

                                        <div id="metform-wrap-ebbc60b-302" class="mf-form-wrapper" data-form-id="302" data-action="https://tykit.rometheme.pro/terra/wp-json/metform/v1/entries/insert/302" data-wp-nonce="60a64c4335" data-form-nonce="fbce7d5e6c" data-quiz-summery="false" data-save-progress="false" data-form-type="general-form" data-stop-vertical-effect=""><form class="metform-form-content"><div class="mf-main-response-wrap   mf-response-msg-wrap" data-show="0"><div class="mf-response-msg"><i class="mf-success-icon fas fa-check"></i><p></p></div></div><div class="metform-form-main-wrapper"><div data-elementor-type="wp-post" data-elementor-id="302" class="elementor elementor-302"><section class="elementor-section elementor-top-section elementor-element elementor-element-db586fe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db586fe" data-element_type="section"><div class="elementor-container elementor-column-gap-no"><div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2eb49e6" data-id="2eb49e6" data-element_type="column"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-de30a1f elementor-widget elementor-widget-mf-text" data-id="de30a1f" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-text&quot;}" data-widget_type="mf-text.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-text-de30a1f">Name 					<span class="mf-input-required-indicator"></span></label><input type="text" class="mf-input " id="mf-input-text-de30a1f" name="mf-text" placeholder="Your Name " aria-invalid="false"></div></div></div><div class="elementor-element elementor-element-a92552d elementor-widget elementor-widget-mf-email" data-id="a92552d" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-email-a92552d">Email 					<span class="mf-input-required-indicator"></span></label><input type="email" class="mf-input " id="mf-input-email-a92552d" name="mf-email" placeholder="Your Email " aria-invalid="false" value=""></div></div></div><div class="elementor-element elementor-element-e651963 elementor-widget elementor-widget-mf-textarea" data-id="e651963" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-textarea&quot;}" data-widget_type="mf-textarea.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-text-area-e651963">Message 					<span class="mf-input-required-indicator"></span></label><textarea class="mf-input mf-textarea " id="mf-input-text-area-e651963" name="mf-textarea" placeholder="Your Message " cols="30" rows="10" aria-invalid="false"></textarea></div></div></div><div class="elementor-element elementor-element-aacaa2a mf-btn--left elementor-widget elementor-widget-mf-button" data-id="aacaa2a" data-element_type="widget" data-widget_type="mf-button.default"><div class="elementor-widget-container"><div class="mf-btn-wraper " data-mf-form-conditional-logic-requirement=""><button type="submit" class="metform-btn metform-submit-btn " id=""><i aria-hidden="true" class="fas fa-paper-plane"></i>					<span>Submit now </span></button></div></div></div></div></div></div></section></div></div></form></div>


                                        <!-----------------------------
                                            * controls_data : find the the props passed indie of data attribute
                                            * props.SubmitResponseMarkup : contains the markup of error or success message
                                            * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
                                        --------------------------- -->



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-cbfb91b elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="cbfb91b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b3461aa" data-id="b3461aa" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-ea4cdd2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ea4cdd2" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3cf192c" data-id="3cf192c" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8f73aab elementor-widget elementor-widget-heading" data-id="8f73aab" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Early development is fundamental to the growth of your child</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7c5fc59 elementor-widget elementor-widget-text-editor" data-id="7c5fc59" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5b99ed5" data-id="5b99ed5" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-aa57d3c elementor-align-center elementor-widget elementor-widget-button" data-id="aa57d3c" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">get a quotes</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>