<link rel='stylesheet' href='~/css/upload/post-543.css' />
<div data-elementor-type="wp-post" data-elementor-id="543" class="elementor elementor-543">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-2081236 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="2081236" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;clouds&quot;}">
		<div class="elementor-background-overlay"></div>
		<div class="elementor-shape elementor-shape-bottom" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
				<path class="elementor-shape-fill" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
			</svg>
		</div>
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0fe98b0" data-id="0fe98b0" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-2b70ae0 elementor-widget elementor-widget-heading" data-id="2b70ae0" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.23.0 - 05-08-2024 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}

								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}</style><h2 class="elementor-heading-title elementor-size-default">Services</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-2ea5701 elementor-widget elementor-widget-text-editor" data-id="2ea5701" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.23.0 - 05-08-2024 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}

								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}

								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}</style>				<p><a href="#">Home</a> &gt; Services</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-451e6e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="451e6e7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e73dc38" data-id="e73dc38" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-1196a16 elementor-widget elementor-widget-heading" data-id="1196a16" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h6 class="elementor-heading-title elementor-size-default">our services</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-e98e663 elementor-widget elementor-widget-heading" data-id="e98e663" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">we gave the best for your child</h2>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-d766ce5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d766ce5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3714ec1" data-id="3714ec1" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-2125bf8 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-tablet-position-left elementor-shape-circle elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="2125bf8" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<link rel="stylesheet" href="https://tykit.rometheme.pro/terra/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">		<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="icon icon-dinner"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h4 class="elementor-icon-box-title">
														<span>
															healthy food
														</span>
													</h4>

													<p class="elementor-icon-box-description">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.
													</p>

												</div>

											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-fc4f79d elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-tablet-position-left elementor-shape-circle elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="fc4f79d" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="icon icon-clock11"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h4 class="elementor-icon-box-title">
														<span>
															Full Day Session
														</span>
													</h4>

													<p class="elementor-icon-box-description">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.
													</p>

												</div>

											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-fbaebc4 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-tablet-position-left elementor-shape-circle elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="fbaebc4" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="icon icon-flag1"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h4 class="elementor-icon-box-title">
														<span>
															Language Lessons
														</span>
													</h4>

													<p class="elementor-icon-box-description">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.
													</p>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e573f1c elementor-hidden-tablet elementor-hidden-mobile" data-id="e573f1c" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-06ff283 elementor-widget elementor-widget-image" data-id="06ff283" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img fetchpriority="high" decoding="async" width="1080" height="1080" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3.png" class="attachment-full size-full wp-image-222" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3.png 1080w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3-300x300.png 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3-1024x1024.png 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3-150x150.png 150w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3-768x768.png 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet3-800x800.png 800w" sizes="(max-width: 1080px) 100vw, 1080px">
										</div>
									</div>
									<div class="elementor-element elementor-element-96069ce elementor-widget elementor-widget-image" data-id="96069ce" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="1080" height="1080" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2.png" class="attachment-full size-full wp-image-217" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2.png 1080w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2-300x300.png 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2-1024x1024.png 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2-150x150.png 150w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2-768x768.png 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids2-800x800.png 800w" sizes="(max-width: 1080px) 100vw, 1080px">
										</div>
									</div>
									<div class="elementor-element elementor-element-41f151a elementor-widget elementor-widget-image" data-id="41f151a" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="1080" height="1080" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4.png" class="attachment-full size-full wp-image-223" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4.png 1080w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4-300x300.png 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4-1024x1024.png 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4-150x150.png 150w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4-768x768.png 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet4-800x800.png 800w" sizes="(max-width: 1080px) 100vw, 1080px">
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3515fdc" data-id="3515fdc" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-9c0e99d elementor-view-stacked elementor-position-right elementor-vertical-align-middle elementor-tablet-position-left elementor-shape-circle elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="9c0e99d" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="icon icon-license"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h4 class="elementor-icon-box-title">
														<span>
															Qualified Teachers
														</span>
													</h4>

													<p class="elementor-icon-box-description">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.
													</p>

												</div>

											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-ed19588 elementor-view-stacked elementor-position-right elementor-vertical-align-middle elementor-tablet-position-left elementor-shape-circle elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="ed19588" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="icon icon-trophy"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h4 class="elementor-icon-box-title">
														<span>
															Special Education
														</span>
													</h4>

													<p class="elementor-icon-box-description">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.
													</p>

												</div>

											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-dfaf0f5 elementor-view-stacked elementor-position-right elementor-vertical-align-middle elementor-tablet-position-left elementor-shape-circle elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="dfaf0f5" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="icon icon-bus"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h4 class="elementor-icon-box-title">
														<span>
															Transportation
														</span>
													</h4>

													<p class="elementor-icon-box-description">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.
													</p>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-d0577a0 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="d0577a0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-background-overlay"></div>
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-35c1af3" data-id="35c1af3" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-39da29b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="39da29b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7324886" data-id="7324886" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-ca7bd7c elementor-widget elementor-widget-heading" data-id="ca7bd7c" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3 class="elementor-heading-title elementor-size-default">Early development is fundamental to the growth of your child</h3>
										</div>
									</div>
									<div class="elementor-element elementor-element-d830b8c elementor-widget elementor-widget-text-editor" data-id="d830b8c" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9b65fd1" data-id="9b65fd1" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-5ac72c3 elementor-widget elementor-widget-elementskit-video" data-id="5ac72c3" data-element_type="widget" data-widget_type="elementskit-video.default">
										<div class="elementor-widget-container">
											<div class="ekit-wid-con">
												<div class="video-content" data-video-player="[]" data-video-setting="{&quot;videoVolume&quot;:&quot;horizontal&quot;,&quot;startVolume&quot;:0.8,&quot;videoType&quot;:&quot;iframe&quot;,&quot;videoClass&quot;:&quot;mfp-fade&quot;}">

													<a class="ekit_icon_button glow-btn ekit-video-popup ekit-video-popup-btn" href="https://www.youtube.com/embed/VhBl3dHT5SY?feature=oembed?playlist=VhBl3dHT5SY&amp;mute=0&amp;autoplay=0&amp;loop=no&amp;controls=0&amp;start=0&amp;end=" aria-label="video-popup">
														<i aria-hidden="true" class="icon icon-play-button"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-9722bea elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9722bea" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b350f6f" data-id="b350f6f" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-60dde4c elementor-widget elementor-widget-heading" data-id="60dde4c" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h6 class="elementor-heading-title elementor-size-default">type of care</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-efa0882 elementor-widget elementor-widget-heading" data-id="efa0882" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Caring for your children as if they were our own</h2>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-26d8c3a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="26d8c3a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bfc04b0" data-id="bfc04b0" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-8f21aa2 elementor-widget elementor-widget-image" data-id="8f21aa2" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="1920" height="1280" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc.jpg" class="attachment-full size-full wp-image-320" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc.jpg 1920w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc-300x200.jpg 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc-1024x683.jpg 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc-768x512.jpg 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc-1536x1024.jpg 1536w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/happy-little-black-girl-giving-her-teacher-high-fi-2022-10-07-02-42-48-utc-800x533.jpg 800w" sizes="(max-width: 1920px) 100vw, 1920px">
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-064d1c6" data-id="064d1c6" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-703c67f elementor-widget__width-auto elementor-absolute elementor-view-default elementor-widget elementor-widget-icon" data-id="703c67f" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<i aria-hidden="true" class="icon icon-play-button"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-409bc68 elementor-widget elementor-widget-heading" data-id="409bc68" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3 class="elementor-heading-title elementor-size-default">Short Term Care</h3>
										</div>
									</div>
									<div class="elementor-element elementor-element-999b9c9 elementor-widget elementor-widget-text-editor" data-id="999b9c9" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Suspendisse pulvinar orci nisl, ut commodo quam consequat ac. Fusce sed accumsan arcu, ut pretium arcu. Fusce accumsan erat vulputate, mollis justo quis, blandit nisl.&nbsp;</p><p>Nam rutrum risus orci, vestibulum vehicula nunc consectetur at. Curabitur sagittis et leo a condimentum. Curabitur ac metus enim. Quisque diam libero, pellentesque id ornare eget, congue in erat. Morbi in turpis at nisi interdum dapibus.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-5a58410 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5a58410" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-665fb1c" data-id="665fb1c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-5d917a8 elementor-widget__width-auto elementor-absolute elementor-view-default elementor-widget elementor-widget-icon" data-id="5d917a8" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<i aria-hidden="true" class="icon icon-play-button"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-0e2e1f6 elementor-widget elementor-widget-heading" data-id="0e2e1f6" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3 class="elementor-heading-title elementor-size-default">Long Day Care</h3>
										</div>
									</div>
									<div class="elementor-element elementor-element-c3d4abb elementor-widget elementor-widget-text-editor" data-id="c3d4abb" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Suspendisse pulvinar orci nisl, ut commodo quam consequat ac. Fusce sed accumsan arcu, ut pretium arcu. Fusce accumsan erat vulputate, mollis justo quis, blandit nisl.&nbsp;</p><p>Nam rutrum risus orci, vestibulum vehicula nunc consectetur at. Curabitur sagittis et leo a condimentum. Curabitur ac metus enim. Quisque diam libero, pellentesque id ornare eget, congue in erat. Morbi in turpis at nisi interdum dapibus.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fac3bd5" data-id="fac3bd5" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-7a1d03b elementor-widget elementor-widget-image" data-id="7a1d03b" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="1920" height="1280" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc.jpg" class="attachment-full size-full wp-image-496" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc.jpg 1920w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc-300x200.jpg 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc-1024x683.jpg 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc-768x512.jpg 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc-1536x1024.jpg 1536w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/playing-game-in-circle-2021-08-26-15-45-09-utc-800x533.jpg 800w" sizes="(max-width: 1920px) 100vw, 1920px">
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-0589326 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0589326" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a87bbdb" data-id="a87bbdb" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-beb6e82 elementor-widget elementor-widget-image" data-id="beb6e82" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="1920" height="1280" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc.jpg" class="attachment-full size-full wp-image-553" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc.jpg 1920w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc-300x200.jpg 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc-1024x683.jpg 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc-768x512.jpg 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc-1536x1024.jpg 1536w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/smiling-educator-and-adorable-kid-drawing-together-2022-11-02-02-16-00-utc-800x533.jpg 800w" sizes="(max-width: 1920px) 100vw, 1920px">
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-60134ae" data-id="60134ae" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-4d8a091 elementor-widget elementor-widget-heading" data-id="4d8a091" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3 class="elementor-heading-title elementor-size-default">Babies</h3>
										</div>
									</div>
									<div class="elementor-element elementor-element-3a42ed0 elementor-widget elementor-widget-text-editor" data-id="3a42ed0" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Suspendisse pulvinar orci nisl, ut commodo quam consequat ac. Fusce sed accumsan arcu, ut pretium arcu. Fusce accumsan erat vulputate, mollis justo quis, blandit nisl.&nbsp;</p><p>Nam rutrum risus orci, vestibulum vehicula nunc consectetur at. Curabitur sagittis et leo a condimentum. Curabitur ac metus enim. Quisque diam libero, pellentesque id ornare eget, congue in erat. Morbi in turpis at nisi interdum dapibus.</p>
										</div>
									</div>
									<div class="elementor-element elementor-element-017821b elementor-widget__width-auto elementor-absolute elementor-view-default elementor-widget elementor-widget-icon" data-id="017821b" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<i aria-hidden="true" class="icon icon-play-button"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-b3a12b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b3a12b5" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-08aa848" data-id="08aa848" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-5ec139c elementor-widget elementor-widget-image" data-id="5ec139c" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img loading="lazy" decoding="async" width="500" height="500" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet2.png" class="attachment-full size-full wp-image-198" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet2.png 500w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet2-300x300.png 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet2-150x150.png 150w" sizes="(max-width: 500px) 100vw, 500px">
						</div>
					</div>
					<div class="elementor-element elementor-element-a44f95e elementor-widget elementor-widget-image" data-id="a44f95e" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img loading="lazy" decoding="async" width="1080" height="1080" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4.png" class="attachment-full size-full wp-image-288" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4.png 1080w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4-300x300.png 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4-1024x1024.png 1024w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4-150x150.png 150w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4-768x768.png 768w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Kids4-800x800.png 800w" sizes="(max-width: 1080px) 100vw, 1080px">
						</div>
					</div>
					<div class="elementor-element elementor-element-3f257b8 elementor-widget elementor-widget-image" data-id="3f257b8" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img loading="lazy" decoding="async" width="500" height="500" src="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet1.png" class="attachment-full size-full wp-image-197" alt="" srcset="https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet1.png 500w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet1-300x300.png 300w, https://tykit.rometheme.pro/terra/wp-content/uploads/sites/96/2022/12/Planet1-150x150.png 150w" sizes="(max-width: 500px) 100vw, 500px">
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-db60908" data-id="db60908" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-46ad154 elementor-widget elementor-widget-heading" data-id="46ad154" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h6 class="elementor-heading-title elementor-size-default">get in touch</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-862bda3 elementor-widget elementor-widget-heading" data-id="862bda3" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Reliable care for your precious little ones!</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-5c724d3 elementor-widget elementor-widget-metform" data-id="5c724d3" data-element_type="widget" data-widget_type="metform.default">
						<div class="elementor-widget-container">
							<div id="mf-response-props-id-302" data-previous-steps-style="" data-editswitchopen="" data-response_type="alert" data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check" data-messageposition="top" class="   mf-scroll-top-no">
								<div class="formpicker_warper formpicker_warper_editable" data-metform-formpicker-key="302">

									<div class="elementor-widget-container">

										<div id="metform-wrap-5c724d3-302" class="mf-form-wrapper" data-form-id="302" data-action="https://tykit.rometheme.pro/terra/wp-json/metform/v1/entries/insert/302" data-wp-nonce="60a64c4335" data-form-nonce="fbce7d5e6c" data-quiz-summery="false" data-save-progress="false" data-form-type="general-form" data-stop-vertical-effect=""><form class="metform-form-content"><div class="mf-main-response-wrap   mf-response-msg-wrap" data-show="0"><div class="mf-response-msg"><i class="mf-success-icon fas fa-check"></i><p></p></div></div><div class="metform-form-main-wrapper"><div data-elementor-type="wp-post" data-elementor-id="302" class="elementor elementor-302"><section class="elementor-section elementor-top-section elementor-element elementor-element-db586fe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db586fe" data-element_type="section"><div class="elementor-container elementor-column-gap-no"><div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2eb49e6" data-id="2eb49e6" data-element_type="column"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-de30a1f elementor-widget elementor-widget-mf-text" data-id="de30a1f" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-text&quot;}" data-widget_type="mf-text.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-text-de30a1f">Name 					<span class="mf-input-required-indicator"></span></label><input type="text" class="mf-input " id="mf-input-text-de30a1f" name="mf-text" placeholder="Your Name " aria-invalid="false"></div></div></div><div class="elementor-element elementor-element-a92552d elementor-widget elementor-widget-mf-email" data-id="a92552d" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-email-a92552d">Email 					<span class="mf-input-required-indicator"></span></label><input type="email" class="mf-input " id="mf-input-email-a92552d" name="mf-email" placeholder="Your Email " aria-invalid="false" value=""></div></div></div><div class="elementor-element elementor-element-e651963 elementor-widget elementor-widget-mf-textarea" data-id="e651963" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-textarea&quot;}" data-widget_type="mf-textarea.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-text-area-e651963">Message 					<span class="mf-input-required-indicator"></span></label><textarea class="mf-input mf-textarea " id="mf-input-text-area-e651963" name="mf-textarea" placeholder="Your Message " cols="30" rows="10" aria-invalid="false"></textarea></div></div></div><div class="elementor-element elementor-element-aacaa2a mf-btn--left elementor-widget elementor-widget-mf-button" data-id="aacaa2a" data-element_type="widget" data-widget_type="mf-button.default"><div class="elementor-widget-container"><div class="mf-btn-wraper " data-mf-form-conditional-logic-requirement=""><button type="submit" class="metform-btn metform-submit-btn " id=""><i aria-hidden="true" class="fas fa-paper-plane"></i>					<span>Submit now </span></button></div></div></div></div></div></div></section></div></div></form></div>


										<!-----------------------------
											* controls_data : find the the props passed indie of data attribute
											* props.SubmitResponseMarkup : contains the markup of error or success message
											* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
										--------------------------- -->



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>