<link rel='stylesheet' href='~/css/upload/post-644.css' />
<div data-elementor-type="wp-post" data-elementor-id="644" class="elementor elementor-644">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-6c23f36 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="6c23f36" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;clouds&quot;}">
		<div class="elementor-background-overlay"></div>
		<div class="elementor-shape elementor-shape-bottom" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
				<path class="elementor-shape-fill" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
			</svg>
		</div>
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5c5976a" data-id="5c5976a" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-a91ef13 elementor-widget elementor-widget-heading" data-id="a91ef13" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.23.0 - 25-07-2024 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}

								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}</style><h2 class="elementor-heading-title elementor-size-default">Liên hệ</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-6627332 elementor-widget elementor-widget-text-editor" data-id="6627332" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.23.0 - 25-07-2024 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}

								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}

								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}</style>				<p><a href="#">Trang chủ</a> &gt; Liên hệ</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-6c03054 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6c03054" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-40ce636" data-id="40ce636" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-0df78fd elementor-widget elementor-widget-heading" data-id="0df78fd" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h6 class="elementor-heading-title elementor-size-default">Hãy chia sẻ với chúng tôi</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-e0bd83d elementor-widget elementor-widget-heading" data-id="e0bd83d" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">TRUNG TÂM HỖ TRỢ GIÁO DỤC VÀ BỒI DƯỠNG KỸ NĂNG HÒA NHẬP SUNRISE </h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-8cb59ad elementor-widget elementor-widget-text-editor" data-id="8cb59ad" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Quý phụ huynh và đối tác xin vui lòng liên hệ với chúng tôi theo thông tin dưới đây, để được giải đáp những thắc mắc</p>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-27b2da1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="27b2da1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b50713a" data-id="b50713a" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-796093a elementor-view-stacked elementor-position-left elementor-mobile-position-left elementor-vertical-align-middle elementor-widget__width-auto elementor-shape-circle elementor-widget elementor-widget-icon-box" data-id="796093a" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<link rel="stylesheet" href="https://tykit.rometheme.pro/terra/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">		<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h5 class="elementor-icon-box-title">
														<span>
															Địa chỉ
														</span>
													</h5>

													<p class="elementor-icon-box-description">
														Tòa nhà GS1 - KĐT Tây Mỗ, Nam Từ Liêm, Hà Nội
													</p>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-38cf371" data-id="38cf371" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-ecf2f1f elementor-view-stacked elementor-position-left elementor-mobile-position-left elementor-vertical-align-middle elementor-widget__width-auto elementor-shape-circle elementor-widget elementor-widget-icon-box" data-id="ecf2f1f" data-element_type="widget" data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">

												<div class="elementor-icon-box-icon">
													<span class="elementor-icon elementor-animation-">
														<i aria-hidden="true" class="fas fa-envelope"></i>
													</span>
												</div>

												<div class="elementor-icon-box-content">

													<h5 class="elementor-icon-box-title">
														<span>
															Email
														</span>
													</h5>

													<p class="elementor-icon-box-description">
														sunriseacademy@gmail.com
													</p>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="elementor-element elementor-element-923aa85 elementor-widget elementor-widget-google_maps" data-id="923aa85" data-element_type="widget" data-widget_type="google_maps.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.23.0 - 25-07-2024 */
								.elementor-widget-google_maps .elementor-widget-container {
									overflow: hidden
								}

								.elementor-widget-google_maps .elementor-custom-embed {
									line-height: 0
								}

								.elementor-widget-google_maps iframe {
									height: 300px
								}</style>		<div class="elementor-custom-embed">
								<iframe loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-00e0b34" data-id="00e0b34" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-8ad4738 elementor-widget elementor-widget-heading" data-id="8ad4738" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">ĐIền thông tin để nhận tư vấn</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-dc5db46 elementor-widget elementor-widget-metform" data-id="dc5db46" data-element_type="widget" data-widget_type="metform.default">
						<div class="elementor-widget-container">
							<div id="mf-response-props-id-302" data-previous-steps-style="" data-editswitchopen="" data-response_type="alert" data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check" data-messageposition="top" class="   mf-scroll-top-no">
								<div class="formpicker_warper formpicker_warper_editable" data-metform-formpicker-key="302">

									<div class="elementor-widget-container">

										<div id="metform-wrap-dc5db46-302" class="mf-form-wrapper" data-form-id="302" data-action="https://tykit.rometheme.pro/terra/wp-json/metform/v1/entries/insert/302" data-wp-nonce="ce09cbe6bc" data-form-nonce="945420ea4f" data-quiz-summery="false" data-save-progress="false" data-form-type="general-form" data-stop-vertical-effect=""><form class="metform-form-content"><div class="mf-main-response-wrap   mf-response-msg-wrap" data-show="0"><div class="mf-response-msg">
											<i class="mf-success-icon fas fa-check"></i><p></p></div></div><div class="metform-form-main-wrapper">
												<div data-elementor-type="wp-post" data-elementor-id="302" class="elementor elementor-302">
													<section class="elementor-section elementor-top-section elementor-element elementor-element-db586fe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db586fe" data-element_type="section">
														<div class="elementor-container elementor-column-gap-no"><div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2eb49e6" data-id="2eb49e6" data-element_type="column"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-de30a1f elementor-widget elementor-widget-mf-text" data-id="de30a1f" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-text&quot;}" data-widget_type="mf-text.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-text-de30a1f">Tên cha mẹ 					<span class="mf-input-required-indicator"></span></label><input type="text" class="mf-input " id="mf-input-text-de30a1f" name="mf-text" placeholder="Tên cha mẹ  " aria-invalid="false"></div></div></div><div class="elementor-element elementor-element-a92552d elementor-widget elementor-widget-mf-email" data-id="a92552d" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-email-a92552d">Email 					<span class="mf-input-required-indicator"></span></label><input type="email" class="mf-input " id="mf-input-email-a92552d" name="mf-email" placeholder="Your Email " aria-invalid="false" value=""></div></div></div><div class="elementor-element elementor-element-e651963 elementor-widget elementor-widget-mf-textarea" data-id="e651963" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-textarea&quot;}" data-widget_type="mf-textarea.default"><div class="elementor-widget-container"><div class="mf-input-wrapper"><label class="mf-input-label" for="mf-input-text-area-e651963">Message 					<span class="mf-input-required-indicator"></span></label><textarea class="mf-input mf-textarea " id="mf-input-text-area-e651963" name="mf-textarea" placeholder="Your Message " cols="30" rows="10" aria-invalid="false"></textarea></div></div></div><div class="elementor-element elementor-element-aacaa2a mf-btn--left elementor-widget elementor-widget-mf-button" data-id="aacaa2a" data-element_type="widget" data-widget_type="mf-button.default"><div class="elementor-widget-container"><div class="mf-btn-wraper " data-mf-form-conditional-logic-requirement=""><button type="submit" class="metform-btn metform-submit-btn " id=""><i aria-hidden="true" class="fas fa-paper-plane"></i>					<span>Submit now </span></button></div></div></div></div></div></div></section></div></div></form></div>


										<!-----------------------------
											* controls_data : find the the props passed indie of data attribute
											* props.SubmitResponseMarkup : contains the markup of error or success message
											* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
										--------------------------- -->



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-544ac09 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="544ac09" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-979560a" data-id="979560a" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-0bc82d9 elementor-widget elementor-widget-heading" data-id="0bc82d9" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h6 class="elementor-heading-title elementor-size-default">blog and article</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-403595b elementor-widget elementor-widget-heading" data-id="403595b" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">read our latest news &amp; article</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-5609243 elementor-widget elementor-widget-elementskit-blog-posts" data-id="5609243" data-element_type="widget" data-widget_type="elementskit-blog-posts.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div id="post-items--5609243" class="row post-items">
									<div class="col-lg-4 col-md-6">

										<div class="elementskit-post-image-card">
											<div class="elementskit-entry-header">
												<a href="https://tykit.rometheme.pro/terra/2022/12/12/make-learning-fun-for-your-kids/" class="elementskit-entry-thumb">
													<img decoding="async" src="~/images/educator-reading-book-for-multicultural-kids-in-ki-2022-11-02-01-40-16-utc.jpg" alt="Make Learning Fun for Your Kids">
												</a><!-- .elementskit-entry-thumb END -->
												<div class="elementskit-meta-lists elementskit-style-tag">
													<div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>12</strong>Dec</span></div>
												</div>


											</div><!-- .elementskit-entry-header END -->

											<div class="elementskit-post-body ">

												<div class="post-meta-list">
													<span class="meta-date">

														<i aria-hidden="true" class="icon icon-calendar3"></i>
														<span class="meta-date-text">
															December 12, 2022
														</span>
													</span>
												</div>


												<h2 class="entry-title">
													<a href="https://tykit.rometheme.pro/terra/2022/12/12/make-learning-fun-for-your-kids/">
														Make Learning Fun for Your Kids
													</a>
												</h2>
												<p>Vivamus diam urna, pulvinar id viverra a, sollicitudin sit amet turpis. Aliquam quis ultricies odio.…</p>
											</div><!-- .elementskit-post-body END -->
										</div>

									</div>
									<div class="col-lg-4 col-md-6">

										<div class="elementskit-post-image-card">
											<div class="elementskit-entry-header">
												<a href="https://tykit.rometheme.pro/terra/2022/12/12/activities-using-the-five-senses/" class="elementskit-entry-thumb">
													<img decoding="async" src="~/images/cropped-image-of-educator-teaching-african-america-2022-11-02-00-16-22-utc.jpg" alt="Activities Using the Five Senses">
												</a><!-- .elementskit-entry-thumb END -->
												<div class="elementskit-meta-lists elementskit-style-tag">
													<div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>12</strong>Dec</span></div>
												</div>


											</div><!-- .elementskit-entry-header END -->

											<div class="elementskit-post-body ">

												<div class="post-meta-list">
													<span class="meta-date">

														<i aria-hidden="true" class="icon icon-calendar3"></i>
														<span class="meta-date-text">
															December 12, 2022
														</span>
													</span>
												</div>


												<h2 class="entry-title">
													<a href="https://tykit.rometheme.pro/terra/2022/12/12/activities-using-the-five-senses/">
														Activities Using the Five Senses
													</a>
												</h2>
												<p>Vivamus diam urna, pulvinar id viverra a, sollicitudin sit amet turpis. Aliquam quis ultricies odio.…</p>
											</div><!-- .elementskit-post-body END -->
										</div>

									</div>
									<div class="col-lg-4 col-md-6">

										<div class="elementskit-post-image-card">
											<div class="elementskit-entry-header">
												<a href="https://tykit.rometheme.pro/terra/2022/12/12/painting-classes-at-our-center/" class="elementskit-entry-thumb">
													<img decoding="async" src="~/images/educator-teaching-adorable-multicultural-children-2022-11-02-03-52-15-utc.jpg" alt="Painting Classes at Our Center">
												</a><!-- .elementskit-entry-thumb END -->
												<div class="elementskit-meta-lists elementskit-style-tag">
													<div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>12</strong>Dec</span></div>
												</div>


											</div><!-- .elementskit-entry-header END -->

											<div class="elementskit-post-body ">

												<div class="post-meta-list">
													<span class="meta-date">

														<i aria-hidden="true" class="icon icon-calendar3"></i>
														<span class="meta-date-text">
															December 12, 2022
														</span>
													</span>
												</div>


												<h2 class="entry-title">
													<a href="https://tykit.rometheme.pro/terra/2022/12/12/painting-classes-at-our-center/">
														Painting Classes at Our Center
													</a>
												</h2>
												<p>Vivamus diam urna, pulvinar id viverra a, sollicitudin sit amet turpis. Aliquam quis ultricies odio.…</p>
											</div><!-- .elementskit-post-body END -->
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>